@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before,
body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #141313;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body::after {
    opacity: 0;
    transition: 0.5s;
}

body.signup::after {
    opacity: 1;
}

.container {
    position: relative;
    width: 350px;
    height: 340px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(197, 58, 58, 0.301), rgba(153, 153, 153, 0.075));
    /* Default background gradient */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
}

body.signup .container {
    background: linear-gradient(to bottom, rgba(50, 50, 255, 0.5), rgba(153, 153, 153, 0.075));
    /* Sign-up form gradient */
}

body.signup form#signinForm .container {
    background: linear-gradient(to bottom, rgba(255, 50, 50, 0.5), rgba(153, 153, 153, 0.075));
    /* Sign-in form gradient */
}


form {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    transition: transform 0.5s;
    transform: translateX(0);
}

form#signupForm {
    transform: translateX(100%);
}

body.signup form#signinForm {
    transform: translateX(-100%);
}

body.signup form#signupForm {
    transform: translateX(0%);
}

form h2 {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

form .inputBox {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

form .inputBox a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
}

form .inputBox a:nth-child(1) {
    text-decoration: underline;
    color: #ebde25;
    font-weight: 500;
}

form .inputBox p {
    font-weight: 300;
    font-size: small;
    color: #fff;
}

form .inputBox input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.15);
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #fff;
}

form .inputBox input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

form .inputBox input[type="submit"] {
    background: #2196f3;
    font-weight: 500;
    cursor: pointer;
}

form#signupForm .inputBox input[type="submit"] {
    background: #f4242f;
    font-weight: 500;
    cursor: pointer;
}

.error-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    animation: pop-up 0.5s forwards;
    z-index: 2;
    display: none;
}

@keyframes pop-up {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
